<!DOCTYPE html>
<html lang="en">

<head>
  <title>Admin</title>

  <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
  <script type="text/javascript" src="/scripts/app.js"></script>
</head>

<body>
  <h1>ADMIN ITEMS PAGE</h1>
  <a href="/admin/add">ADD ANOTHER ITEM</a>
  <p><a href="/admin/items" >Back to Admin manager</a></p>



  <h1>TEST LOOP</h1>
  <div>
    <% for (i in items){ %>
      <% if (items[i].userID === user_session){ %>
        <div>
          <form action='http://localhost:8080/clients/shoppers' method='POST'>
            <input type="text" name="item_name" value="<%= items[i].itemName %>" placeholder="<%= items[i].itemName %>" readonly/>
            <input type="text" name="item_price" value="<%= items[i].price %>" placeholder="<%= items[i].price %>" readonly/>
            <input type="text" name="photo_url" value="<%= items[i].photo_url %>" placeholder="<%= items[i].photo_url %>" readonly/>
            <input type="text" name="description" value="<%= items[i].description %>" placeholder="<%= items[i].description %>" readonly/>
            <% } %>
              <% } %>
                <br><input type="submit" value="SAVE" name="username">
          </form>
        </div>
        <div>
          <% for (i in items){ %>
            <% if (items[i].userID === user_session){ %>
              <form method="POST" action="/admin/items/<%= i %>/delete">
                <input name="userId" value="<%= items[i].itemId %>" />
                <input name="itemsId" value="<%= items[i].userID %>" />
                <input type="submit" value="DELETE" />
              </form>
              <% } %>
                <% } %>
        </div>
  </div>
</body>

</html>
